<div>
  <link href="./component.css" rel="stylesheet" />
  <div class="component-container">
    <img
      alt="pastedImage"
      src="public/playground_assets/pastedimage-cwe9-1200w.png"
      class="component-pasted-image"
    />
    <img
      alt="pastedImage"
      src="public/playground_assets/pastedimage-xyy-200h.png"
      class="component-pasted-image1"
    />
    <a
      href="https://docs.google.com/forms/d/e/1FAIpQLScUrHoGBZrfZ0gOz3Fs8UdjW-uju0pTO-BMs2MzeGTIAu9Khg/viewform"
      target="_blank"
      rel="noreferrer noopener"
      class="component-link"
    >
      <img
        alt="pastedImage"
        src="public/playground_assets/pastedimage-5pcs-200h.png"
        class="component-pasted-image2"
      />
    </a>
    <img
      alt="pastedImage"
      src="public/playground_assets/pastedimage-4tb-200h.png"
      class="component-pasted-image3"
    />
    <img
      alt="pastedImage"
      src="public/playground_assets/pastedimage-hxh-200h.png"
      class="component-pasted-image4"
    />
  </div>
</div>
